<section class="featured-section bg-theme">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white ">Featured Post</h2>
                <p class="text-white ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, voluptas necessitatibus doloremque natus fuga a consequuntur odio eius aspernatur hic.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>
<section class="latest-posts container mt-5 ">
    <div class="col-md-12-text-center">
        <h2>Latest Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, consequuntur nisi. Eum assumenda nesciunt debitis rerum vel omnis dolorum harum.</p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>