<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://render.fineartamerica.com/images/rendered/default/print/8/5.5/break/images/artworkimages/medium/1/zumaia-flysch-6-juan-pablo-de.jpg"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center">Featured</small>
          <small class="bg-light text-info text-center">Views - 100</small>
          <small class="bg-light text-warning text-center"
            >LAST UPDATED - Sep 20, 2023</small
          >

          <h1 class="mt-3 mb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            molestiae?
          </h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
            reprehenderit vitae obcaecati ad, error eius libero provident
            ratione repellendus ut voluptates veritatis, cupiditate natus
            sapiente animi. Quam consectetur ad modi labore maiores itaque cum
            quia odio dolorem minima, illum dicta rerum tempora molestias
            officiis? Iure eligendi temporibus tempore sapiente perferendis? Eum
            delectus accusantium maiores expedita sunt fugiat sed, mollitia id
            odit iste unde illum minus consequatur hic ipsam iusto nemo
            perspiciatis dolor officiis excepturi vel est eius? Inventore nobis
            itaque temporibus distinctio quam eligendi reprehenderit repellendus
            culpa vel, ipsam hic delectus rem? Perferendis fugiat perspiciatis
            natus aperiam cumque sunt asperiores corporis ratione quaerat beatae
            illum nulla, optio minima adipisci corrupti laudantium ea
            consequuntur, possimus amet molestias quia eligendi quos. Itaque
            provident, placeat, praesentium porro non voluptates mollitia ipsam
            eligendi aliquam quod tempore asperiores dolor sed est adipisci
            quidem illum perspiciatis ex. Porro provident, deleniti id
            perferendis vel vero ratione iste tenetur quam maxime adipisci
            assumenda ipsam eveniet at quos velit, quasi voluptate magnam, error
            quae. Enim delectus odit eaque dolore et consequatur suscipit
            aspernatur consequuntur commodi iure nihil, modi, doloribus laborum
            itaque, deleniti sint omnis at. Dicta ducimus facilis blanditiis
            cupiditate, debitis vel ipsa quae velit quidem. Nobis, eaque nemo.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
