<div class="card shadow-effect">
  <img
    src="https://render.fineartamerica.com/images/rendered/default/print/8/5.5/break/images/artworkimages/medium/1/zumaia-flysch-6-juan-pablo-de.jpg"
    alt=""
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design</small>
    <small class="bg-light text-success ml-3 text-center">Featured</small>
    <small class="bg-light text-info ml-3 text-center">Views - 100</small>
    <h5 class="mt-1"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, rerum.</h5
    >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, animi
      facilis perferendis illo officia vero commodi harum quae eaque asperiores
      consequuntur fugit obcaecati itaque, dolores consequatur ullam nostrum
      atque non recusandae praesentium sint. Quibusdam, sint quod vitae aliquam
      provident nobis nostrum a animi aspernatur, deserunt laborum laboriosam
      et, amet beatae!
    </p>
    <small class="bg-light text-warning ml-3 text-center">Date - 2023</small>
  </div>
</div>
